<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit {{name}}</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/form.css">
    <link rel="stylesheet" href="/css/button.css">
</head>

<body>
    {{> header}}

    <main class="site-main">
        <header>
            <h1>Edit {{product.name}}</h1>
        </header>

        {{> error}}

        <form action="/admin/products/edit" method="POST" class="form-group">
            <input type="hidden" name="_id" value="{{product._id}}">

            <div class="form-control">
                <label for="name">Product Name</label>
                <input type="text" name="name" id="name" value="{{product.name}}">
            </div>

            <div class="form-control">
                <label for="imageUrl">Image URL</label>
                <input type="text" name="imageUrl" id="imageUrl" value="{{product.imageUrl}}">
            </div>

            <div class="form-control">
                <label for="price">Price</label>
                <input type="number" step="0.01" name="price" id="price" value="{{product.price}}">
            </div>

            <div class="form-control">
                <label for="description">Description</label>
                <textarea name="description" id="description" cols="20" rows="3">{{product.description}}</textarea>
            </div>

            <input type="hidden" name="_csrf" value="{{csrfToken}}">

            <div class="buttons-container">
                <button type="submit" class="button">Edit Product</button>
            </div>
        </form>
    </main>
</body>

</html>