<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Cart</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/product-card.css">
    <link rel="stylesheet" href="/css/button.css">
    <link rel="stylesheet" href="/css/footer.css">
</head>

<body>
    {{> header}}

    <main class="site-main">
        <header>
            <h1>My Cart</h1>
        </header>

        {{#if hasProducts}}
        <div class="products-container">
            {{#each cart.products}}
            <article class="product-card" id="cart-product-card">
                <header class="card-header">
                    <h1>{{this.name}}</h1>
                </header>

                <div class="card-img">
                    <img src="{{this.imageUrl}}" alt="{{this.name}}">
                </div>

                <div class="card-content">
                    <p>Quantity: {{this.quantity}}</p>
                    <h2 class="product-price">£{{this.price}}</h2>
                </div>

                <div class="buttons-container">
                    <a href="/products/details/{{this.id}}" class="button">Details</a>

                    <form action="/cart/products/remove/{{this.id}}" method="POST" class="form-group">
                        <button type="submit" class="button" id="remove-from-cart-btn">Remove</button>
                    </form>
                </div>
            </article>
            {{/each}}
        </div>

        {{else}}
        <h1>No products have been found!</h1>
        {{/if}}

        <footer class="site-footer">
            <h2>Total Price: £{{cart.totalPrice}}</h2>
            <h3><a href="/checkout">Go to checkout</a></h3>
        </footer>
    </main>
</body>

</html>